sudo: required
services:
  - docker

before_install:
  - docker build -t benbenek/react-test -f ./client/Dockerfile.dev .

script:
  - docker run benbenek/react-test npm test -- --coverage

after_success:
 - docker build -t benbenek/multi-ci-client ./client
 - docker build -t benbenek/multi-ci-nginx ./nginx
 - docker build -t benbenek/multi-ci-server ./server
 - docker build -t benbenek/multi-ci-worker ./worker
 - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
 - docker push benebenek/multi-ci-client
 - docker push benebenek/multi-ci-nginx
 - docker push benebenek/multi-ci-server
 - docker push benebenek/multi-ci-worker

deploy:
  provider: elasticbeanstalk
  region: "eu-central-1"
  app: "ci-test"
  env: "CiTest-env"
  bucket_name: "elasticbeanstalk-eu-central-1-832952669290"
  bucket_path: "ci-test"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"

